body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    width: 320px;
    background:#BDF4EC;
    border-radius: 10px;
    overflow: hidden;
    }

    header {
      color: #000;
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    main {
      padding: 15px;
    }

    .current-site {
      margin-bottom: 16px;
      padding: 8px 12px;
      color: #000;
      background: #f4fffd;
      border-radius: 8px;
      border-left: 4px solid #3dd0b2;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
    }

    .status {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 12px;
      background: #f4fffd;;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
    }
    
    .status-text {
      font-size: 14px;
      color: #000;
    }

    .toggle-btn {
      background: #3dd0b2;
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: 16px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      transition: background-color 0.15s ease;
      transition: 0.3s ease;
      box-shadow: 0 2px 6px rgba(31, 190, 155, 0.376);
    }

    button:hover {
      background: #8fc9bd83;
      transform: translateY(-2px);
    }

    .form-label{
        padding: 10px;
        margin: 0;
    }

    .radio-buttons {
      background:#f4fffd;
      color: #000;
      display: flex;
      flex-direction: row;
      border-radius: 10px;
      padding: 5px;
      gap: 10px;         
      align-items: center; 
      margin-bottom: 16px;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
    }

    .show-grams{
      font-size: 11px;
      color: #000000;
      padding: 10px;
      background: #f4fffd;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
      margin-bottom:16px;

    }

    .model-type {
      padding: 12px;
      border-radius: 10px;
      background:#f4fffd;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
      margin-bottom:16px;
    }
    
    .model-item {
      font-size: 13px;
    }
    
    .model-label {
      color: #000;
    }
    
    .model-value {
      color: #000;
      margin-left: 5px;
      font-weight: 500;
    }

    .no-suggestions{
      font-size: 11px;
      color: #000000;
      padding: 10px;
      background: #f4fffd;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
    }

    .input-box{
      border: 1px #00dadad0 solid;
      border-radius: 5px;
      margin-left: 10px;
      width:65%;
    }

    footer {
      opacity: 0.8;
      text-align: center;
      padding: 15px;
      margin-top: 16px;
      background: #3dd0b2;


    }

    footer a{
        color: #ffffff;
        text-decoration: none; 
    }
