    body {
      font-family: "Segoe UI", Tahoma, sans-serif;
      margin: 0;
      padding: 0;
      width: 320px;
      background: #BDF4EC;
      color: white;
      border-radius: 10px;
      overflow: hidden;
    }

    header {
      color: #000;
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
      /* background: rgba(0, 0, 0, 0.2); */
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    main {
      padding: 15px;
    }

    .key-combo {
      background: #e8eaed;
      padding: 2px 6px;
      border-radius: 4px;
      font-family: monospace;
      font-size: 11px;
    }

    .instructions{
      margin-top: 16px;
      font-size: 13px;
      color: #3c4043;
      background: #f4fffd;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(24, 174, 142, 0.376);
    }

    .supported-sites {
      font-size: 11px;
      color: #000000;
      margin-top: 12px;
      padding: 8px;
      background: #f1f3f4;
      border-radius: 6px;
    }


    footer {
      opacity: 0.8;
      text-align: right;
      padding: 10px;
      margin-top: 16px;
      margin-bottom: 16px;

    }

    footer a{
      background: #3dd0b2;
      color: white;
      border: none;
      text-decoration: none;
      padding: 6px 12px;
      border-radius: 16px;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      transition: background-color 0.15s ease;
      transition: 0.3s ease;
      box-shadow: 0 2px 6px rgba(31, 190, 155, 0.376);
    }
